
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

main > img {
  width: 200px;
  border-radius: 50%;
  border: 3px solid black;
}

.bio {
  font-size: 2.6rem;
  color: salmon;
  text-shadow: 2px 2px 0px black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0px;
  width: 40vw;
  font-style: italic;
  overflow-wrap: break-word;
}
