.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 1.5rem;
}

.loginInput {
  width: 50vw;
  font-size: 1.5rem;
}

.loginButtons {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}


@media only screen and (min-width: 1550px) {
  .loginInput {
    width: 30vw;
  }
}