
.card {
    box-shadow: 10px 10px 10px black;
}

.post-footer {
    display: flex;
    justify-content:end;
    border-top: 1px solid gray;
    padding: 5px 0px 0px;
}

.card-body img {
    max-width: 50vw;
    width: 50vw;
    margin-bottom: 0px;
    border: solid 3px black;
}

.card-body h3 {
    border: solid 2px darkslategrey;
    padding: 1vh;
    color: black;
    background-color: rgb(253, 166, 166);
    box-shadow: 2px 2px 4px black;
}

.card-body h4 {
    color: green;
    padding: .5vh;
    background-color: rgb(176, 253, 176);
    border: solid;
    border-radius: 12px; 
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.text-link:hover {
    color: inherit;
    text-decoration: none;
}

.delete:hover {
    color: red;
}

.like:hover {
    color: rgb(220, 39, 199);
}

.edit:hover {
    color: green;
}

.comments:hover {
    color: blue;
}


@media only screen and (min-width: 1550px) {
  .card-body img {
    width: 30vw;
  }
}


