img:first-child {
    width: 200px;
    border-radius: 50%;
    border: 3px solid black;

}

div > h2 {
    background-color: white;
    padding: 20px;
    width: 80%;
    font-style: italic;
}

.profile-details-header {
    background-color: blue;

}
