img:first-child {
    margin-top: 25px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

div > h1 {
    margin: 50px;
}

.bio {
    font-size: 2.6rem;
    color: salmon;
    text-shadow: 2px 2px 0px black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 0px;
    width: 40vw;
    font-style: italic;
    overflow-wrap: break-word;
}
