* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  padding: 10px;
  margin-bottom: 30px;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-symbols-outlined {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 0px;
}

.sidebarOption:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  transition: color 100ms ease-out;
}

body {
  display: flex;
  height: 100vh;
}

nav {
  border-right: 1px solid black;
  flex: 0.2;
  min-width: 0px;
  width: 15vw;
  position: fixed;
  left: 0px;
  height: 100vh;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.text-link:hover {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 1550px) {
  nav {
    width: 30vw;
  }
}