.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .label,
  .button {
    margin-right: .5rem;
  }

  label {
    width: 50vw;
  } 
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    background-color: #fff;
    padding: 30px;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125)
  }

  input, textarea {
    border: solid 2px darkslategray;
  }
  textarea {
    width: 50vw;
    align-self: center;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }

  #review {
    background-color: black;
  }
  


  .rest-inputs {
    display: flex;
    flex-direction: row;
    max-width: 25vw;
  }

  .food-and-photo {
    display: flex;
    flex-direction: row;
  }

  select {
    border: solid 2px lightcoral;
    color: white;
    background-color: darkslategray;
    padding: 3px;  
  }

  
