

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }

  label {
    width: 50vw;
    border-bottom: solid 2px grey;
    padding-bottom: 0.5vh;
    margin: .5vh 0px 0px;
  } 
  
  button {
    background-color: #bde0fe;
    border: solid 2px #023e8a;
    border-radius: 7px;
    color: black;
    margin-bottom: 1vh;
    padding: 0px 10px;
  }

  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    background-color: white;
    padding: 30px;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border: 1px solid rgba(0,0,0,.125);
    margin: 2vh;
    box-shadow: 10px 10px 10px black;
  }

  input, textarea {
    border: solid 1px lightgrey;
  }
  textarea {
    width: 50vw;
    align-self: center;
  }

  form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }

  #review {
    background-color: black;
  }
  
  .food-and-photo {
    display: flex;
    flex-direction: row;
  }

  select {
    border: solid 2px #023e8a;
    color: black;
    background-color: #d2eaff;
    padding: 3px;  
    width: 50vw;
    margin-top: 0px;
  }

  .addPostHeader {
    margin: 2vh;
  }

  div > h1 {
    color: lightskyblue;
    background-color: white;
    text-shadow: 2px 2px 0px black;
    border: solid 2px darkslategray;
    width: 50vw;
    padding: 1vh;
    box-shadow: 2px 2px 4px black  ;
  }

  @media only screen and (min-width: 1550px) {
    main {
      width: 40vw;
    }
    textarea {
      width: 30vw;
    }
    label {
      width: 30vw;
    }
    div > h1 {
      width: 30vw;
    }
    select {
      width: 30vw;
    }
  }


