.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

.signupHeader {
  margin-top: 10px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: solid 2px grey;
  width: 30vw;
}