  .content {
    display: flex;
    flex-direction: column;
    width: 85vw;
    flex: 0.5;
    justify-items: center;
    overflow-y: scroll;
    background-color: gray;
    right: 0px;
    position: absolute;
  }

  h1 {
    text-align: center;
  }

  .card {
    width: 40vw;
    margin: 5vh 60px;
  }

  body {
    margin: 0px;
    min-width: 100vw;
  }


  @media only screen and (max-width: 1550px) {
    .content{
      width: 70vw;
    }
  }
