
  .content {
    display: flex;
    flex-direction: column;
    /* width: 70vw; */
    flex: 0.5;
    justify-items: center;
    min-width: fit-content;
    overflow-y: scroll;
    background-color: gray;
  }

  h1 {
    text-align: center;
  }

  .card {
    width: 40vw;
    margin-left: 20vw;
    margin-top: 5vh;
  }