* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  padding: 10px;
  margin-bottom: 30px;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-symbols-outlined {
  padding: 20px;

}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  transition: color 100ms ease-out;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

nav {
  border-right: 1px solid black;
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

}